$font-stack: Lato , sans-serif;
$primary-color: #575757;

.imagical-copy--styling {
    font-family: $font-stack;
    color: $primary-color;
}

.container--img-sizing {
  width: 55%;
  margin: 32px auto auto auto;
}

.container--intro {
  width: 60%;
  margin: auto;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 18px;
  color: $primary-color;
  text-align: left;
  line-height: 1.7em;
    p {
      margin-left: 15px;
    }
}

.column-title-project {
  border-left-color: rgba(11, 203, 192, .8);
  border-left-width: 3px;
  border-left-style: solid;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 15px;
  color: $primary-color;
  font-family: $font-stack;
}

.column-title-timeline {
  border-left-color: rgba(11, 203, 192, .8);
  border-left-width: 3px;
  border-left-style: solid;
  padding-left: 10px;
  margin-left: 30px;
}

.column-title-team {
  border-left-color: rgba(11, 203, 192, .8);
  border-left-width: 3px;
  border-left-style: solid;
  padding-left: 10px;
}

.list-container {
  list-style-type: none;
}

.list-container {
  line-height: 70%;
}

.btn-position {
  position: relative;
}

.btn-apply {
  padding: 3px 20px;
  margin: 5px 0px;
  position: absolute;
  bottom: 0;
}
