@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url("https://fonts.googleapis.com/css?family=Molengo");

.subheader {
  color: #808080;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom:30px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  margin-bottom: 1.45rem;
  font-family: Molengo;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.7rem;
  line-height: 1.1;
  text-align: center;
  font-weight: 50;
}

.tab-content{
    background-color:#EDEDED;
    color:#808080;
    text-align: center;
    padding-bottom:30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
    font-size: 1rem;
}
.nav-tabs > li > a{
  font-family: Molengo;
  border: medium none;
  color: #808080;
  font-size: 1.4rem;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 15px;
  padding-top: 10px;
}
.nav-tabs > li > a:hover{
  background-color: #EDEDED !important;
    border: medium none;
    border-radius: 0;
    color:#808080;
}
.nav-tabs {
  text-align: center;
}
.active {
    background-color:#EDEDED;
}

.contact-icon {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50px;
}

.padding-sm {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px
}

.padding-title {
  padding-top: 30px;
  padding-bottom: 50px
}

.link-accent {
  color: #808080;
}

.link-accent:hover{
  color: #0BCBC0;
}

.form-wrapper {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

label {
  color: #808080;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
  font-family: Molengo;
  padding-right: 10px;
}

input[type="text"],
textarea {
  padding: 6px;
  font-size: 16px;
  background: white;
  margin-bottom: 50px;
}


input[type="text"]{
  width: 50%;
}

input[type="textlong"],
textarea {
  width: 100%;
  height: 150px;
  padding: 6px;
  font-size: 25px;
  background: white;
  margin-bottom: 50px;
  border: none;
}

input[type="submit"] {
  display: block;
  margin: 20px auto 50px;
  height: 34px;
  width: 125px;
  font-family: Molengo;
  letter-spacing: 0.5px;
  background: #0BCBC0;
  border: 0px solid;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.25px;
}

input[type="submit"]:hover {
  background: #3ADCCB;
  cursor: pointer;
}
