.title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #575757;
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 2px solid #0BCBC0;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}

.header {
    padding: 16px;
}

.header__left-items {
    float: left;
}

.header__logo {
    margin: 0;
    width: 140px;
}

.header__right-items {
    float: right;
}

.header__routing-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__route {
    float: right;
    margin: 0;
    margin-top: 6px;
}

.header__link {
    margin: 10px;
    padding: 4px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #575757;
}

.header__link:hover {
    color: #0BCBC0;
}

.header__link--active {
    color: #0BCBC0;
    border-bottom: 2px solid #0BCBC0;
}
