@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url("https://fonts.googleapis.com/css?family=Molengo");

.subheader {
  color: #808080;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom:30px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  margin-bottom: 1.45rem;
  font-family: Molengo;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.7rem;
  line-height: 1.1;
  text-align: center;
  font-weight: 50;
}

.tab-content{
    background-color:#EDEDED;
    color:#808080;
    text-align: center;
    padding-bottom:30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    font-size: 1rem;
}
.nav-tabs > li > a{
  font-family: Molengo;
  border: medium none;
  color: #808080;
  font-size: 1.4rem;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-top: 10px;
}
.nav-tabs > li > a:hover{
  background-color: #EDEDED !important;
    border: medium none;
    border-radius: 0;
    color:#808080;
}
.nav-tabs {
  text-align: center;
}
.active {
    background-color:#EDEDED;
}
